 /* Обнуление START */
 *, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
}
/* Обнуление END */




/* Контейнер */
html{
    font-size: 100%;
}
[class*="__container"] {
    max-width: 110.938rem;
    margin: 0 auto;
}
/* Контейнер */



main{
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: #15181D;



}
.header{
    background: #171A21;

}
.header__container {
    display: flex;
    align-items: center;
    height: 6.25rem;

}
.header__logo{
    margin-right: 1.1rem;
}
.header__title {    
    color: #fff;
    width: 4rem;
    line-height: 1.375rem;
    font-weight: 800;
    margin-right: 1.25rem;
}
.header__container input{
    background: #0D1017;
    border-radius: .33px;
padding: 1rem;
color: rgba(255, 255, 255, 0.2);
width: 16.563rem;
flex: 0 1 16.563rem;
}
nav{
    flex: 1 1 auto;
}

.header__list{
    display: flex;
    justify-content: flex-end;
}
header a{
    color: rgba(236, 239, 244, 0.4);
}
.header__list li{
    padding-right:3.438rem
}
.header__item{
}
.header__item-white{
    color: #ECEFF4;
}
.header__profile {
    margin-right: 1rem;
}
.header__logout{
    padding: 1rem 1rem 1rem 3rem;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    position: relative;
}
.header__logout::before{
    position: absolute;
    content: '';
    background: url("../img/logout.svg") no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    left: 1rem;
    top: .75rem;
}




/* ========================= */
.game-cards__container{
    margin-top: 3.313rem;
    margin-bottom: .75rem;

}
.game-cards__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.game-cards__info span{
    color: #ECEFF4;
    font-size: 2.5rem;
    font-weight: 700;
}
.see-more{
    color: #4825D2;
    font-size: 1.5rem;
    line-height: 3rem;
}
.game-cards__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.game-card {
    position: relative;
    margin-bottom: 2.563rem;
}


.game-card-text {
    position: absolute;
    height: 10.938rem;
    right: 0;
    bottom: 0;
    padding: 3rem 1rem 1.875rem 1.875rem;
    display: flex;
    flex-direction: column;
    text-align: end;

}

.game-card__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    color: #fff;
    padding-bottom: 1.438rem;
}
.game-card__price {
    font-size: 1.5rem;
    color: #fff;
}

/* =============== */
.footer {
    background-color: #0D1017;
}
.footer__container {
    padding: 3.188rem 0;
    display: flex;
    justify-content: space-between;
    
}
.footer__container span{
    color: #FFFFFF;
}
.footer__container a{
    color: #FFFFFF;
    text-decoration: underline;
}